<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>
<body>
    <h2>Here is your pokedex, <%=username%> !</h2>
    <table>
      <tr>
        <th>ID</th>
        <th>name</th>
        <th>height</th>
        <th>weight</th>
        <th>types</th>
        <th>sprite</th>
      </tr>
      <%=data.pokedex.forEach(pokemon => {%>
        <tr>
          <td><%=pokemon._id%></td>
          <td><%=pokemon.name%></td>
          <td><%=pokemon.height%></td>
          <td><%=pokemon.weight%></td>
          <td>
            <%=pokemon.types.forEach(type => {%>
              <%=type%><br />
            <%=})%>
          </td>
          <td><img src="<%=pokemon.front_sprite%>"></td>
        </tr>
      <%=})%>
    </table>
</body>
</html>
